node_modules/
npm-debug.log
yarn-error.log
.env
/build
/public/bundle.js
*.log
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
yarn.lock
package-lock.json
/config.js
*.exe
*.dll
*.so
*.dylib
