.App {

  

background: rgb(247,247,247);
background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(220,223,223,1) 100%);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: Set a background color if needed */
}

/* Optional: Hide scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Optional: Hide scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Optional: Hide scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.messages{
  display: flex;
  flex-direction: column  ;
overflow-y: scroll;
}

/* CSS in styles.css */
/* CSS in styles.css */

.notifactions{

  background: rgb(223, 146, 146);
  border-radius:14% ;
  -webkit-border-radius:14% ;
  -moz-border-radius:14% ;
  -ms-border-radius:14% ;
  -o-border-radius:14% ;
}

@keyframes bell-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(10deg);
  }
}